<table>
  <tr>
    <th>ID</th>
    <td><%= @member.id %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>役割</th>
    <td><%= @member.role.name %></td>
  </tr>
  <tr>
    <th>残り<%= show_stars %>数</th>
    <td><%= @member.own_stars %></td>
  </tr>
  <tr>
    <th>受け取った<%= show_stars %>数</th>
    <td><%= @member.received_stars %></td>
  </tr>
</table>
