<% form_for(@member, :url => { :action => action, :id => target }) do |f| %>
  <table>
    <tr>
      <th><%= f.label(:id, "ID") %></th>
      <td><%= f.text_field(:id) %></td>
    </tr>
    <tr>
      <th><%= f.label(:name, "名前") %></th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th><%= f.label(:role_id, "役割") %></th>
      <td><%= f.collection_select(:role_id, Role.find(:all), :id, :name) %></td>
    </tr>
  </table>
  <%= submit_tag("登録") %>
<% end %> 
