<table>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>役割</th>
    <th>残り<%= show_stars %>数</th>
    <th>受け取った<%= show_stars %>数</th>
  </tr>
  <% @members.each do |m| %>
    <tr>
      <td><%= link_to("#{m.id}", :action => :edit, :id => m.id) %></td>
      <td><%= m.name %></td>
      <td><%= m.role.name unless m.role.nil? %></td>
      <td><%= show_stars(:number => (m.role.default_stars - m.sent_stars)) %></td>
      <td><%= show_stars(:number => m.received_stars) %></td>
    </tr>
  <% end %>
</table>
