<html>
<head>
  <title>Positive Feedback System 管理画面</title>
  <%= stylesheet_link_tag "surprise" %>
  <%= javascript_include_tag :defaults %>
</head>
<body onload="hyoko_suprise(); zawa_suprise()">
<%= render :partial => "layouts/admin/header", :use_full_path => true %>
<%= yield %>
<%= render :partial => "layouts/admin/footer", :use_full_path => true %>
<%= hyoko_suprise(:target => "hirao.gif") %>
<%= zawa_suprise(:rate => 1) %>
</body>
</html>
