<table>
  <tr>
    <th>ID</th>
    <th>メンバー名</th>
    <th>活動内容</th>
    <th>活動詳細</th>
    <th>獲得<%= show_stars %>数</th>
  </tr>
  <% @activities.each do |a| %>
    <tr>
      <td><%= link_to("#{a.id}", :action => :edit, :id => a.id) %></td>
      <td><%= link_to("#{a.member.name}", :controller => :members, :action => :edit, :id => a.member_id) %></td>
      <td><%= a.name %></td>
      <td><%= truncate(a.detail, :length => 20) %></td>
      <td><%= show_stars(:number => a.stars.size) unless a.stars.nil? %></td>
    </tr>
  <% end %>
</table>
